.sidebar {
  background-color: #264653;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 1000;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &.collapsed {
    width: 0;
    padding: 0;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    width: 80px;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  background-color: transparent !important;
  color: #d8e2dc !important;
  width: 100% !important;
  border: none !important;
  justify-content: flex-start !important;
  padding: 15px !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  font-weight: normal !important;
  font-size: 1rem !important;
  text-transform: none !important;

  &:hover {
    color: #fff !important;
  }

  &.active {
    font-weight: bold !important;
    font-size: 1.2rem !important;
    background-color: #1f776d !important;
  }
}

.divider {
  margin: 1rem 0;
  border-color: #3a5a60 !important;
}

.userButton {
  color: #d8e2dc !important;
  margin-top: auto !important;
  background-color: transparent !important;
  border: none !important;

  &:hover {
    background-color: #2a9d8f !important;
    color: #fff !important;
  }
}

.hiddenContent {
  display: none;
}
