.p-datepicker-trigger {
  background-color: #bfdbf7!important;
  height: auto;
  width: 40px;
  border-radius: 4px !important;
}

.p-datepicker-trigger .pi-calendar {
  color: white !important;
}
body{
  background-color: aliceblue;
}